@model IEnumerable<IdentityDemo2.Models.Problem>

@{
    ViewData["Title"] = "ContestProblemsList";
}

<h1>ContestProblemsList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explanation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleInput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SampleOutput)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testcase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResultOfTestCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SolutionCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contest)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Explanation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleInput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleOutput)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testcase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResultOfTestCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contest.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
