@model IdentityDemo2.Models.Problem

@{
    ViewData["Title"] = "ProblemDetails";
}

<h1>ProblemDetails</h1>

<div>
    <h4>Problem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProblemStatement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProblemStatement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explanation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explanation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleInput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleInput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SampleOutput)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SampleOutput)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Testcase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Testcase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultOfTestCase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultOfTestCase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SolutionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SolutionCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contest.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="Contests" asp-action="TeacherContestDetails" asp-route-id="@Model.Contest.Id" type="button" class="btn btn-primary">Back to Contests</a>
</div>
