@model IEnumerable<IdentityDemo2.Models.Contest>

@{
    ViewData["Title"] = "TeacherMyContests";
}

<h1>TeacherMyContests</h1>

<p>
    <a asp-controller="Contests" asp-action="CreateNewContest" type="button" class="btn btn-primary">Create New</a>
</p>



<div class="container">
    <div class="row row-cols-1 row-cols-md-1 g-4">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card custom-card">
                    <div class="card-body">
                        <h4 class="card-title">Contest ID : @Html.DisplayFor(modelItem => item.Id)</h4>
                        <h5 class="card-title">Title: @Html.DisplayFor(modelItem => item.Title)</h5>
                        <h6 class="card-title">Topic: @Html.DisplayFor(modelItem => item.Topic)</h6>

                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>

                        <a asp-controller="Contests" asp-action="TeacherContestDetails" asp-route-id="@item.Id" type="button" class="btn btn-info">Open</a>

                        <a asp-controller="Contests" asp-action="EditMyContest" asp-route-id="@item.Id" type="button" class="btn btn-warning">Edit</a>

                        <a asp-controller="Attempts" asp-action="SeeAttempts" asp-route-id="@item.Id" type="button" class="btn btn-warning">See Result</a>
                        <hr />
                        <p class="card-text">Created By : @Html.DisplayFor(modelItem => item.ApplicationUser.Name) Created At : @Html.DisplayFor(modelItem => item.CreatedAt)</p>
                    </div>
                </div>
            </div>
        }
    </div>

