@model IdentityDemo2.Models.Contest
@using Microsoft.AspNetCore.Identity
@using IdentityDemo2.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "TeacherContestDetails";
}

<h1>TeacherContestDetails</h1>

<div>
    <h4>Contest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
     @if (UserManager.GetUserName(User) == Model.ApplicationUser.UserName)
     {            
        <a asp-controller="Contests" asp-action="EditMyContest" asp-route-id="@Model.Id" type="button" class="btn btn-warning">Edit</a>

        <a asp-controller="Problems" asp-action="AddProblem" asp-route-id="@Model.Id" type="button" class="btn btn-alert">Add Problem</a>

     }
    <a asp-controller="Contests" asp-action="TeacherMyContests"  type="button" class="btn btn-primary">Back to List</a>
</div>
